* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav{
    background-color:black;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 40px;
    justify-content: right;
}

.portada{
    width: 90%;
    max-width: 10000000px;
    margin: 20px auto;
    display: grid;
    grid: grap 20px;
    grid-template-columns: repeat(3,lfr);
    grid-template-rows: repeat(4, auto);
}
.portada >div,
.portada .fotoimagen,
.portada .minombre,
.portada .puesto,
.portada .midescripcion
.portada .footer{
    background-color:black;
    color:#fff;
    padding: 10px;
    border-radius: 2px;
}
.portada .fotoimagen{
    text-align: center;
}
.imagen{
    width: 390px;
    height: 440px;
    border-radius: 50%;
}
.portada .minombre{
    text-align: center;
    justify-content: center;
}
.portada .puesto{
    text-align: center;
    justify-content: center;
}
.portada .midescripcion{
    text-align: center;
    justify-content: center;
}
.portada .footer{
    background-color:black;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 40px;
    justify-content: center;
}
.footer .github{
    width:60px; 
    height:60px;
}
.footer .linkelin{
    width:40px; 
    height:40px;
}/*falta agregar el tamaño correcto a linkelin.