* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav{
    background-color:black;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 40px;
    justify-content: right;
}

.grid-container >div,
.proyectos .card{
    background-color:black;
    color:#fff;
    padding: 10px;
    border-radius: 2px;
}

.card{
    text-align: center;
}
  
.footer1{
    background-color:black;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 40px;
    justify-content: center;
}