* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.nav{
    background-color:black;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 40px;
    justify-content: right;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.grid-container >div,
.grid-container .sobremi,
.grid-container .titutlotexto, 
.grid-container .texto{
    background-color:black;
    color:#fff;
    padding: 10px;
    border-radius: 2px;
}
.sobremi{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}
.habilblan{
    text-align: center;
}
.habiltec{
    text-align: center;
}
.lista{
    text-align: left;
}

.footer1{
    background-color:black;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 40px;
    justify-content: center;
}

.footer .github{
    width:60px; 
    height:60px;
}
.footer .linkelin{
    width:40px; 
    height:40px;
}/*falta agregar el tamaño correcto a linkelin.
